@charset "UTF-8";
@charset "UTF-8";

/* List */
div.board_menu {
	margin: 11% 20%;
}
div.board_menu li {
	list-style: none;
}
div.board_menu li a {
	text-decoration: none;	
	color: black;
	float: left;
}
div.board_menu li a:hover {
	font-weight: bold;
}
/* 조회된 정보가 없습니다. */
table#tbl_notice tr td {
	text-align: center;
}
table.tbl_list tr th{
	text-align: center;
}
/* 글쓰기 버튼 */
section#notice_container input {
	float: right;
}
/* Enroll */
div.px-4 {
	margin: -50px auto;
}
button#btn_enroll {
	float: right;
}
section.section p {
	font-size: 23px;
	font-weight: bold;
}
table.tbl_view {
	margin: 0 auto;
}
table.tbl_view th {
	padding: 10px 0; 
	text-align:center; 
}
table.tbl_view td {
	text-align: left;
}
/* View */
div.view_btn {
	text-align: right;
	height: 2px;
}
input#delete_btn {
	margin-left: 0px;
}
section#notice_container_view {
	margin: 8% 20%;
}
section#notice_container_view > input {
	float: right;
	margin: -19px 0px;
}

/* Update */
table#tbl_n_view {
	text-align: center;
	border: 1px solid #dddddd;
}
td#td_view_content {
	min-height: 200px; 
	text-align: left;
}
div#update_btn { 
	float: right;
}
section#notice_container_enroll .container-fluid {
	margin-top: -45px;
	padding: 0px;
}