@charset "UTF-8";

/* 공지사항 */
/* 공지사항 리스트 noticeList */
div.board_menu {
	margin: 8% 20%;
}
div.board_menu li {
	list-style: none;
}
div.board_menu li a {
	text-decoration: none;	
	color: black;
	float: left;
}
div.board_menu li a:hover {
	font-weight: bold;
}
/* 조회된 정보가 없습니다. */
table#tbl-notice tr td {
	text-align: center;
}

/* 페이지 바 */
.pagination ul li a {
	color: black;
}

/* 글쓰기 버튼 */
section#notice_container input {
	float: right;
}
/* 공지사항 등록 noticeEnroll */
div.px-4 {
	margin: 48px auto;
}
button#btn_enroll {
	float: right;
}
section.section p {
	font-size: 23px;
	font-weight: bold;
}

/* 공지사항 상세보기 noticeView */
div.view_btn {
	text-align: right;
	height: 2px;
}
section#notice_container_view {
	margin: 8% 20%;
}

/* 공지사항 업데이트 noticeUpdate */
div#update_btn { 
	float: right;
}