html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('./bg.jpg'); /* 배경 이미지 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body.dimmed::before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);    
}
.popup-wrap{
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;               
  display:none; 
  display:flex;
  padding:15px; 
}
.popup-head{
  width:100%;
  height:50px; 
  display:flex; 
  align-items:center;
  justify-content:center;
  background-color: #052a78;
  color: white;
}
.popup-body{                
  width:100%;
  background-color:#ffffff; 
}
.body-content{              
  width:100%;
  padding:30px 30px 5px 30px; 
  border:1px solid #d3def5;             
}
.body-titlebox{             
  text-align:center;        
  width:100%;
  height:40px;
  margin-bottom:10px;       
}
.body-contentbox{           
  word-break:break-word;    
  overflow-y:auto;          
  min-height:100px;         
  max-height:200px;         
}
.popup-foot{                      
  width:100%;
  height:50px;
  background-color: #052a78;
  color: white;
}
.pop-btn{ 
  display:inline-flex;            
  width:50%;                      
  height:100%;                    
  justify-content:center;         
  align-items:center;             
  float:left;                     
  color:#ffffff;                  
  cursor:pointer;                 
}
.pop-btn.confirm{                 
  border-right:1px solid #3b5fbf; 
}

.btn_submit{
	background-color:#052a78;
	color:white;
	border: 1px solid #333;
	font-weight: 100;
    font-size: 16px;
	
}
