@charset "UTF-8";

div.info {
	background-color: rgba(0, 0, 102, 0.9);
    width: 24%;
    height: 220px;
    margin-right: -358px;
    margin-top: -398px;
    text-align: center;
    position: relative;
    z-index: 1001;
    float: right;
    opacity: 38;
    color: rgba(255, 204, 102);
}
div#s_info {
	position: relative;
    top: 33px;
    left: -4px;
}
div#s_info p:not(:first-child) {
	font-size: 19px;
}
div.calendar {
	background-color: #f5f6f8;
    width: 60%;
    height: 400px;
    margin-left: -383px;
    border: 1px solid #dee3eb;
}
div.calendar p {
	margin: -3px auto;
    font-weight: bold;
    background-color: rgba(0, 0, 102, 0.9);
    color: white;
    height: 41px;
    text-align: -webkit-center;
    font-size: 21px;
    padding: 6px;
}
div.main_notice_list p {
    margin: -5px -1px;
    font-weight: bold;
    background-color: #A4814F;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 22px;
    padding: 6px;
    width: 1216px;

}
div.main_notice_list {
	width: 109%;
    float: right;
    margin-right: -390px;
    background-color: #fff;
    border: 1px solid #dee3eb;
    margin-top: -397px;
    font-size: 16px;
}
div.main_notice_list h5 a {
    color: black;
    text-decoration: none;
    font-family: 'Gowun Batang';
    font-size: 17px;
    font-weight: bold;
    float: right;
    margin: 12px 35px;
    padding-top: 10px;
}
div#info_list {
	background-color: #46AAFF;
    font-weight: 400;
    font-size: 22px;
    white-space: nowrap;
    margin: 16px 160px;
    line-height: 27px;
    font-weight: 600;
}
/*datepicer 버튼 롤오버 시 손가락 모양 표시*/
.ui-datepicker-trigger{cursor: pointer;}
/*datepicer input 롤오버 시 손가락 모양 표시*/
.hasDatepicker{ 
	cursor: pointer;
    width: 560px;
    display: inline-block;
    margin: 15px 65px;
    text-align: center;
    font-size: 25px;
    border: 1px solid white;
    background-color: lightgray;
    border-radius: 15px;
    letter-spacing: 4px;
}
.ui-datepicker-trigger {
    cursor: pointer;
    margin: 0px -135px;
}
div#ui-datepicker-div {
	width: 561px;
    height: 249px;
    left: 292.667px;
}
div.ui-datepicker table {
    margin: 21px 0 0.4em;
}
.ui-datepicker .ui-datepicker-title select {
    text-align: center;
}
div.main_notice_list h5 a {
    color: black;
    text-decoration: none;
    font-family: 'Gowun Batang';
    font-size: 17px;
    font-weight: bold;
    float: right;
    margin: 8px 10px;
}
img#student_image {
    border-radius: 50%;
    width: 265px;
    height: 240px;
    float: left;
    margin: 31px 65px;
}
p.a_p_welcome {
	margin: 12px -17px;
	font-weight: bold;
}
img.a_p_image {
	background-color: white;
    border-radius: 50%;
    width: 265px;
    height: 225px;
    margin-top: 23px;

}
div.a_p_welcome p {
    margin-top: 64px;
    font-weight: bold;
    color: white;
    font-size: 24px;
}
p#p_welcome {
	font-size: 20px;
    font-weight: bold;
    color: white;
}
img.w-100 {
    height: 410px;
}
div#pageBar {
	margin-top: -18px;
}
span.span_name {
	color: #FFAF00;
}
section#section {
	background-color: #fff;
}