* {
	box-sizing: border-box
}
.section_agree {
	width: 60%;
	margin: 0 auto;
	height: 100%; /* 코드 작업 완성 후 100%로 바꿀 예정 */
	border: 1px solid blue; /* 완성 후 삭제 예정 */
}
.sub_title {
    color:"white"; 
    size:4;
    background-color: #052a78;
}
table{
   width:100%;
}
a {
	color: #000;
	text-decoration: none;

}
a:hover {
	text-decoration: none;
	color: #f67001;
}
a:focus {
	outline: none;
}
.btn_link {
    background-color: #052a78;
}
.btn_cancel{
  border:dotted 0px white; 
  background:#052a78;
  color:#fff;    
  width:115px; 
  height:34px;  
  font-size: 15px;
  margin:10px;
}

.btn_order{ 
  border:dotted 0px white; 
  background:#052a78;
  color:#fff;    
  width:115px; 
  height:34px;   
  font-size: 15px;
  margin:10px;
}
.btn_cancel:hover,
.btn_cancel1:hover{
  background:#f67001;
}