body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}
.title{
	background-color:#FFFFFF;
	text-align:center;
	cursor: pointer;
}
#backdiv {
    margin: 0;
/*    position: absolute; */
/*    width: 1536px; */
/*    height: 864px; */
    background-color:#FFFFFF;
}


#login {
    float: right;
    background-color:rgb(5, 42, 120);
    width: 400px;
    height: 864px;
    color: #FFFFFF;
}


#container, #container-header {
	position:relative;
	width:1130px;
	padding:0px;
	margin: 0 auto;
	letter-spacing: -.2px;
}
    #menu {
        background-color: rgb(5, 42, 120);
        position:relative;
        height: 30px;
        margin: 0 auto;
    }
    .menu-button{
		position: relative;
	    width: 1130px;
	    margin: 0 auto;
	}
    .float-right{
    	float:right;
    	margin:3px 3px;
    	cursor: pointer;
    }
    ul.main-nav{
		display:table;
		padding:0px;
		margin:auto;
    }
    ul.main-nav li { 
        list-style-type: none; 
        width: 8em; 
        height: 2em;
        float: left; 
        text-align: center; 
      /*  border-left: 1px #00bcd4 solid; */
        position:relative;	
    }
    /*ul.main-nav li:last-of-type{border-right:1px #00bcd4 solid;}*/
    ul.main-nav li a {
        display: block;
        padding:.4em;
        text-decoration: none;
        color: rgb(64, 64, 64);
    }
    .lecture, .record, .message {
    	margin-right: 20rem
    }


    /* hover시 배경색 변경 */
    /*ul.main-nav li:hover{
       background-color: #3300ff;
    }*/
    
    ul.main-nav li:hover > a{
        color:rgb(33, 33, 33); /* 글자색*/
        font-weight: bold;
    }
    /* 메뉴밑줄효과 */
    ul.main-nav li span.animate_line{
        position: absolute;
        /* position:absolute;=> display:block;으로 되면서, 너비, 높이를 가진다. */
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #FCE72E;
        -webkit-transition: .2s;
        transition: .2s;
    }
    ul.main-nav li:hover span.animate_line{
        width:100%;
    }
    footer { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        color: white;
        background: rgb(5, 42, 120);
    }